.effect {
    position: relative;
    height: 100%;
}

.content {
    margin: 0 auto;
    width: 70vw;
    min-height: 150vh;
    background-color: #d9d9d9;

    .modalEffect {
        position: absolute;
        left: 0;
        width: 100vw;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
    }

    .restaurant {
        margin: 0 auto 2vh auto;
        display: flex;
        width: 65vw;
        height: 15vh;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 1em;

    }

    .restaurantText {
        margin: auto 0 auto 10px;
        height: 5vh;
        width: 65vw;
        display: flex;
        gap: 10px
    }

    .logo {
        margin: 1vh 0 1vh 1vw;
        border-radius: 0.5em;
        height: 13vh;
        border-style: solid;
    }

    .star {
        display: flex;
        gap: 5px;
        color: #d2f200;
        font-weight: 700;
    }

    .star img {
        height: 35px;
    }

    .title {
        width: 100%;
        height: auto
    }

    .products {
        display: flex;
        flex-wrap: wrap;
        gap: 1vh;
        width: 65vw;
        height: 120vh;
        margin: 0 auto;
    }

    .product {
        padding: 1vh;
        font-size: small;
        display: flex;
        flex-wrap: wrap;
        border-radius: 1em;
        width: 32vw;
        height: auto;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .leftBox {
        display: flex;
        flex-wrap: wrap;
        width: 16vw;
        margin: 1vh 0 1vh 1vw;
    }

    .bottomLeftBox {
        display: flex;
        align-items: center;
        height: 40px;
        justify-content: space-between;
        width: 16vw;
    }

    .noPromotional {
        text-decoration: line-through;
        margin-left: 1vw;
    }

    .quantity {
        font-size: 15px;
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        place-content: center;
        gap: 10px;
        height: 30px;
        width: 60px;
        background-color: #d9d9d9;
        border-radius: 0.5em;
    }

    .quantity button {
        height: 25px;
        width: 25px;
        border: transparent;
        background-color: #d9d9d9;
    }

    .quantity button img {
        display: flex;
        align-items: center;
    }

    .rightBox {
        margin: auto 1vw auto auto;
        height: 160px;
        width: 160px;
        border-radius: 1em;
        background-color: #eeeeee;
    }

    .rightBox img {
        height: 160px;
    }

}

.backdrop {
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;
    position: absolute;

    .modal {
        width: 35vw;
        background-color: #d9d9d9;
        border-bottom-left-radius: 1em;
        right: 0;
        position: absolute;
    }

    .modalHeader {
        display: flex;
        flex-wrap: wrap;
        height: 10vh;
        width: 25vw;
        margin-left: 1vw;

        button {
            cursor: pointer;
            height: 30px;
            width: 30px;
            margin-top: 2vh;
            border-style: none;
            background-color: #d9d9d9;
            border-radius: 1em;
        }

        span {
            margin-top: 2.5vh;
            margin-left: 1vw;
        }
    }

    .modalContent {

        .order {
            padding: 1vh;
            border-radius: 1em;
            height: auto;
            width: 33vw;
            margin: 1vh 1vw;
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            gap: 1vh;
        }

        button {
            cursor: pointer;
            color: #d12b2b;
            font-weight: 700;
            background-color: white;
            border-style: none;
        }
    }

    .modalFooter {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        float: inline-end;
        height: 15vh;

        h3 {
            margin-top: 1vh;
            margin-left: 1vw;
            width: 35vw;
            display: flex;
            justify-content: center;

            span {
                margin-left: 2vw;
            }
        }

        button {
            cursor: pointer;
            color: white;
            width: 12vw;
            height: 5vh;
            border-style: none;
            background-color: #d12b2b;
        }
    }

}

.registerUser {
    display: flex;
    place-content: center;
    height: 150vh;
    width: 100vw;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;
    position: absolute;

    form {
        margin: auto;
        width: 33vw;
        height: 50vh;
        background-color: white;
        border-radius: 1em;

        .forms {
            display: flex;
            flex-wrap: wrap;
            width: 30vw;
            height: 3vh;

            label {
                margin-top: 2vh;
                margin-left: 10%;
                width: 80%;
            }

            input {
                margin-left: 10%;
                width: 90%;
            }

            p {
                margin-left: 10%;
                width: 80%;
            }
        }

        button {
            margin: 2vh auto 0 auto;
        }
    }
}

@media screen and (max-width:800px) {
    .content {

        .restaurant {
            justify-content: center;
            align-items: center;
            width: 65vw;
            height: 20vh;
        }

        .restaurantText {
            height: auto;
            justify-content: center;
            align-items: center;
            height: 10vh;
        }

        .products {
            height: auto;
        }

        .product {
            height: auto;
            width: 65vw;
        }

        .leftBox {
            width: 35vw;
        }

        .bottomLeftBox {
            width: 35vw;
        }

        .noPromotional {
            margin-left: 3vw;
        }


        .rightBox {
            height: 200px;
            width: 200px;
        }

        .rightBox img {
            height: 200px;
        }

    }

    .backdrop {

        .modal {
            width: 45vw;
        }

        .modalHeader {
            height: 15vh;
            width: 40vw;
            justify-content: left;
        }

        .modalContent {
            .order {
                width: 40vw;
                height: auto;
                font-size: small;
            }
        }

        .modalFooter {
            width: 45vw;
            height: 12vh;

            h3 {
                width: 45vw;
            }

            button {
                width: 30vw;
                border-radius: 1em;
            }

        }

    }

    .registerUser {
        height: 170vh;

        form {

            .forms {
            }
            button {
                margin-left: 10%
            }
        }
    }

}

@media screen and (max-width:360px) {
    .content {
        width: 85vw;

        .restaurant {
            height: 12vh;
            width: 80vw;
        }

        .restaurantText {
            height: 8vh;
            font-size: small;
        }

        .logo {
            height: 8vh;
        }

        .star {
            font-size: 25px;
        }

        .star img {
            height: 25px;
        }

        .title {
            width: 100%;
            height: auto
        }

        .products {
            width: 80vw;
        }

        .product {
            width: 80vw;
            height: 30vh;
        }

        .leftBox {
            width: 45vw;
            font-size: smaller;
        }

        .bottomLeftBox {
            width: 50vw;
        }

        .noPromotional {
            margin-left: 1vw;
            margin-right: 1vw;
        }


        .rightBox {
            height: 80px;
            width: 80px;
        }

        .rightBox img {
            height: 80px;
        }
    }

    .backdrop {
        .modal {
            width: 60vw;
        }

        .modalHeader {
            height: 12vh;
            width: 60vw;
            font-size: small;
            }
        

        .modalContent {

            .order {
                width: 57vw;
                height: auto;
            }
        }

        .modalFooter {
            width: 60vw;
            h3 {
                font-size: medium;
                width: 59vw;

                span {
                    margin-left: 2vw;
                }
            }

            button {
                border-radius: 1em;
                width: 30vw;
                height: 5vh;
                background-color: #d12b2b;
            }
        }

    }

    .registerUser {
        height: 168.1vh;

        form {
            margin: auto;
            width: 60vw;
            height: 40vh;
            background-color: white;
            border-radius: 1em;

            .forms {
                width: 55vw;
                height: 3vh;

                label {
                    margin-top: 2vh;
                    margin-left: 10%;
                    width: 80%;
                }

                input {
                    margin-top: 0.5vh;
                }
            }

            button {
                width: 60vw;
                margin: 2vh auto 0 auto;
            }
        }
    }
}