.boxRestaurants {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    height: auto;
    background-color: #FFF;
    padding: 10px;
    border-radius: 15px;
    transition: .5s all;

    &:hover {
        transform: scale(1.03);
    }

    .LeftBox {
        // .boxLogo {
        //     height: 120px;
        //     width: 120px;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     background-color: #EEEEEE;
        //     border-radius: 10px;
        // }

        img {
            border-radius: 15px;
        }
    }

    .RightBox {
        .groupText {
            display: flex;
            align-items: center;
            gap: 7px;
            margin-bottom: 5px;

            .star {
                display: flex;
                gap: 5px;
                color: #D2F200;
                font-weight: 700;
            }

            .ball {
                height: 5px;
                border-radius: 50%;
                width: 5px;
                background-color: #000;
            }
        }

    }
}