@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sora;
}

nav {
    background-color: #00243f;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;

    .logo {
        img {
            height: 5em;
        }
    }

    .search {
        display: flex;
        align-items: center;
        padding: 5px 8px;
        border-radius: 10px;
        background-color: #D9D9D9;

        img {
            height: 35px;
        }

        input {
            height: 5vh;
            border: none;
            background-color: transparent;
            outline: none;
            padding: 15px;
            font-weight: 700;
            font-size: 1.2em;
            width: 25vw;
        }
    }

    .buttons {
        height: 10vh;
        width: 10vw;
        display: flex;
        gap: 0.5vw;
        place-content: center;

        img {
            margin-top: 1vh;
            height: 8vh;
            background-image: none;
            background-color: #00243f;
        }
    }
}